<div>
    <form [formGroup] = "blogForm" (ngSubmit)="onsubmit()">
        <div class="form-group">
            <label for="id">Id</label>
            <input rpOnlyNumber type="text" class="form-control" id="id" placeholder="Id" formControlName="id">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" placeholder="Content" formControlName="content">
        </div>
        <button type="submit" [disabled]="!blogForm.valid || blogData" class="btn btn-default">Submit</button>
        <button *ngIf="blogData" (click)="deleteSelectedBlog(blogForm.id)" type="button" class="btn btn-danger">Delete</button>
    </form>
</div>